@using DAL.Models
@using DAL.Utils
@model IQueryable<mp_family_intake>
@{
}

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            @if (Model.Any())
            {
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Date of visit</th>
                            <th>Clinician</th>
                            <th>Counselling Reason</th>
                            <th>Partner's name</th>
                            <th>Partner's phone</th>
                            <th>Partner's email</th>
                            <th>Suicidal?</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var intake in Model)
                        {
                            <tr>
                                <td>@intake.created_at.ToString("yyyy-MM-dd hh:mm tt")</td>
                                <td></td>
                                <td>@intake.counseling_reason</td>
                                <td>@intake.partner_name</td>
                                <td>@intake.partner_phone</td>
                                <td>@intake.partner_email</td>
                                <td>@Options.GetLookupName(intake.suicidal.Value)</td>
                                <td>
                                    <button class="btn btn-sm btn-primary">View</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>