@model DAL.Models.mp_profile
@using DAL.Utils;
@using MHealth.Entities.ViewModel;
@{
    ViewData["Title"] = "Client info";
    IQueryable<DAL.Models.mp_appointment> mp_appointments = ViewBag.appointment;
    var timelines=(List<TimelineItem>)ViewBag.timelines;
    var time_class = "";
    int count = 0;
}

<div class="row" style="margin-top:-15px">
    <div class="col-md-8 offset-md-2">
        <nav class="" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/">Home</a></li>
                @*<li class="breadcrumb-item"><a href="@Url.Action("Clients","Profile")">Clients</a></li>*@
                <li class="active breadcrumb-item" aria-current="page">My Profile</li>

            </ol>

        </nav>
    </div>
</div>

<div class="row">

    <div class="col-md-3 offset-md-2">
        <div class="main-card mb-3 card" style="margin-bottom:10px !important">
            @*<img src="~/assets/images/gravatar.jpg" alt="Card image cap" class="card-img-top">*@
            <img src="@Url.Action("get_profile_image","User")" alt="Card image cap" class="card-img-top">
           
        </div>

        <div class="mb-3 card" style="min-height: 400px">
            <div class="card-header-tab card-header">
                <div class="card-header-title">
                    <i class="header-icon lnr-bicycle icon-gradient bg-love-kiss"> </i>
                    Records - [@Model.unique_id]
                </div>
                <ul class="nav">

                    <li class="nav-item"><a data-toggle="tab" href="#tab_bio" class="active nav-link">Bio</a></li>
                    <li class="nav-item"><a data-toggle="tab" href="#tab_enrollment" class="nav-link">Enrollment Info</a></li>
                    <li class="nav-item"><a data-toggle="tab" href="#tab_session" class="nav-link">Sessions</a></li>


                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content">

                    <div class="tab-pane active" id="tab_bio" role="tabpanel">

                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <th>Unique ID</th>
                                    <td class="answer">@Model.unique_id</td>
                                </tr>
                                <tr>
                                    <th>Name</th>
                                    <td>@Model.last_name @Model.first_name</td>
                                </tr>
                                <tr>
                                    <th>Preferred name</th>
                                    <td>@Model.preferred_name</td>
                                </tr>
                                <tr>
                                    <th>Phone</th>
                                    <td>@Model.phone</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>@Model.email</td>
                                </tr>
                                <tr>
                                    <th>Address</th>
                                    <td>@Model.address</td>
                                </tr>
                                <tr>
                                    <th>City, State</th>
                                    <td>@Model.city, </td>
                                </tr>
                                <tr>
                                    <th>Date of birth</th>
                                    <td>@Model.dob.ToString("dd MMM, yyyy")</td>
                                </tr>
                                <tr>
                                    <th>Education level</th>
                                    <td>@Options.GetLookupName(Model.education_level.Value)</td>
                                </tr>
                                <tr>
                                    <th colspan="2">About</th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        @Model.about
                                    </td>
                                </tr>
                            </tbody>
                        </table>




                    </div>

                    <div class="tab-pane" id="tab_enrollment" role="tabpanel">
                        <table class="table table-borderless table-hover table-striped">
                            <tbody>
                                <tr>
                                    <td class="question">What is your marital status?</td>
                                    <td> <span class="answer pull-right">@Options.GetLookupName(Model.marital_status)</span></td>
                                </tr>
                                <tr>
                                    <td class="question">Religious Preference</td>
                                    <td>
                                        <span class="answer pull-right">@Options.GetLookupName(Model.mp_enrollment.FirstOrDefault().religious)</span>
                                    </td>
                                </tr>
                                @if (Model.mp_enrollment.FirstOrDefault().religion.HasValue)
                                {
                                <tr>
                                    <td class="question">What religion do you identify with? (Our counselors are from diverse backgrounds)?</td>
                                    <td>
                                        <span class="answer pull-right">@Options.GetLookupName(Model.mp_enrollment.FirstOrDefault().religion.Value)</span>
                                    </td>
                                </tr>
                                }
                                <tr>
                                    <td class="question">What led you to seek help today?</td>
                                    <td>
                                        <span class="answer pull-right">@Options.GetLookupName(Model.mp_enrollment.FirstOrDefault().today_feeling)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="question">Have you ever been in counseling or therapy before?</td>
                                    <td>
                                        <span class="answer pull-right">@Options.GetLookupName(Model.mp_enrollment.FirstOrDefault().earlier_counseling)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="question">How would you rate your current physical health?</td>
                                    <td>
                                        <span class="answer pull-right">@Options.GetLookupName(Model.mp_enrollment.FirstOrDefault().physical_health)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="question">How would you rate your current eating habits?</td>
                                    <td>
                                        <span class="answer pull-right">@Options.GetLookupName(Model.mp_enrollment.FirstOrDefault().eating_habit)</span>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="question">How would you rate your current sleeping habit?</td>
                                    <td>
                                        <span class="answer pull-right">@Options.GetLookupName(Model.mp_enrollment.FirstOrDefault().sleeping)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="question">Are you currently experiencing overwhelming sadness, grief, or depression?</td>
                                    <td>
                                        <span class="answer pull-right">@Options.GetLookupName(Model.mp_enrollment.FirstOrDefault().depression)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="question">
                                        Over the last 2 weeks, how often have you been bothered by any of the following problems?
                                    </td>
                                </tr>
                                <tr>
                                    <td class="question">Little interest or pleasure in doing things</td>
                                    <td>
                                        <span class="answer pull-right">@Options.GetLookupName(Model.mp_enrollment.FirstOrDefault().reduced_interest)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="question">
                                        Feeling down, depressed, or hopeless
                                    </td>
                                    <td>
                                        <span class="answer pull-right">@Options.GetLookupName(Model.mp_enrollment.FirstOrDefault().recent_depression)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="question">
                                        Trouble falling or staying asleep, or sleeping too much
                                    </td>
                                    <td>
                                        <span class="answer pull-right">@Options.GetLookupName(Model.mp_enrollment.FirstOrDefault().sleeping_trouble)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="question">
                                        Feeling tired or having little energy
                                    </td>
                                    <td>
                                        <span class="answer pull-right">@Options.GetLookupName(Model.mp_enrollment.FirstOrDefault().tiredness)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="question">
                                        Poor appetite or overeating
                                    </td>
                                    <td>
                                        <span class="answer pull-right">@Options.GetLookupName(Model.mp_enrollment.FirstOrDefault().appetite)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="question">
                                        Feeling bad about yourself — or that you are a failure or have let yourself or your family down
                                    </td>
                                    <td>
                                        <span class="answer pull-right">@Options.GetLookupName(Model.mp_enrollment.FirstOrDefault().feeling_bad)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="question">
                                        Trouble concentrating on things, such as reading the newspaper or watching television
                                    </td>
                                    <td>
                                        <span class="answer pull-right">@Options.GetLookupName(Model.mp_enrollment.FirstOrDefault().concentration_issue)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="question">
                                        Moving or speaking so slowly that other people could have noticed? Or the opposite — being so fidgety or restless that you have been moving around a lot more than usual
                                    </td>
                                    <td>
                                        <span class="answer pull-right">@Options.GetLookupName(Model.mp_enrollment.FirstOrDefault().fidgety)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="question">
                                        Thoughts that you would be better off dead or of hurting yourself in some way
                                    </td>
                                    <td>
                                        <span class="answer pull-right">@Options.GetLookupName(Model.mp_enrollment.FirstOrDefault().suicidal)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="question">
                                        Why does today feel like the right time to begin counseling?
                                    </td>
                                    <td>
                                        <span class="answer pull-right">@Options.GetLookupName(Model.mp_enrollment.FirstOrDefault().help_reason)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="question">
                                        Are you currently employed?
                                    </td>
                                    <td>
                                        <span class="answer pull-right">@Options.GetLookupName(Model.mp_enrollment.FirstOrDefault().employed)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="question">
                                        How often do you drink alcohol?
                                    </td>
                                    <td>
                                        <span class="answer pull-right">@Options.GetLookupName(Model.mp_enrollment.FirstOrDefault().alcohol)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="question">
                                        Are you currently experiencing anxiety, panic attacks or phobias?
                                    </td>
                                    <td>
                                        <span class="answer pull-right">@Options.GetLookupName(Model.mp_enrollment.FirstOrDefault().anxiety)</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane" id="tab_session" role="tabpanel">

                        @if (mp_appointments.Where(e => e.status == 170).Any())
                        {
                        <div class="table-responsive">
                            <table class="align-middle mb-0 table table-borderless table-striped">
                                <thead>
                                    <tr>

                                        <th>Clinician</th>
                                        <th>Type</th>
                                        <th>Service</th>
                                        <th>Time</th>
                                        <th class="text-center">Duration</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var appointment in mp_appointments.Where(e => e.status == 170))
                                        {
                                    <tr class="tb-primary">

                                        <td>
                                            <div class="widget-content p-0">
                                                <div class="widget-content-wrapper">
                                                    <div class="widget-content-left mr-3">
                                                        <div class="widget-content-left">
                                                            <img width="40" class="rounded-circle" src="~/assets/images/avatars/4.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="widget-content-left flex2">
                                                        <div class="widget-heading">@(appointment.clinician_.first_name + " " + appointment.clinician_.last_name)</div>
                                                        <div class="widget-subheading opacity-7">@(appointment.clinician_.phone)</div>
                                                        <div class="widget-subheading opacity-7">@appointment.clinician_.email</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td>  @appointment.appointment_typeNavigation.name</td>
                                        <td>  @appointment.appointment_serviceNavigation.name</td>

                                        <td>
                                            @appointment.start_date.ToString("dd MMM, yyyy hh:mm tt")
                                        </td>
                                        <td class="text-center">
                                            30 mins
                                        </td>
                                    </tr>
                                        }
                                </tbody>
                            </table>
                        </div>
                        }
                        else
                        {
                        <p>
                            No session completed yet
                        </p>
                        }

                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="col-md-5">
        <div class="card mb-3 widget-content bg-arielle-smile">
            <div class="widget-content-wrapper text-white">
                <div class="widget-content-left">
                    <div class="widget-heading">Clients</div>
                    <div class="widget-subheading">Total Clients Profit</div>
                </div>
                <div class="widget-content-right">
                    <div class="widget-numbers text-white"><span>$ 568</span></div>
                </div>
            </div>
        </div>
        <div class="container">

            <div class="card">
                <div class="card-header">
                    <div class="card-header-title">@string.Format("{0} {1}'s",Model.first_name,Model.last_name) Timeline</div>
                </div>
            </div>
            <ul class="timeline">
                @foreach (var timeline in timelines.OrderBy(e=>e.created_at).GroupBy(e => e.appointment_id))
                {
                    count += 1;

                    if (count % 2 == 0)
                    {
                        time_class = "timeline-inverted";
                    }
                    else
                    {
                        time_class = "";
                    }
                <li class="@time_class">
                    <div class="timeline-badge bg-success"><i class="fa fa-video"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h5 class="timeline-title" style="margin-bottom:2px">@timeline.FirstOrDefault().appointment_type</h5>
                            <small class="text-muted"><i class="fa fa-calendar-day"></i> @timeline.FirstOrDefault().created_at.ToString("dd MMM, yyyy hh:mm tt")</small>
                            @*<p><small class="text-muted"><i class="fa fa-calendar-day"></i> @timeline.FirstOrDefault().created_at.ToString("dd MMM, yyyy hh:mm tt")</small></p>*@
                        </div>
                        <div class="timeline-body">
                            <ul class="nav flex-column">
                                @foreach (var form in timeline.AsQueryable())
                                    {

                                <li class="nav-item">
                                    <a href="javascript:void(0);" class="nav-link">
                                        <i class="nav-link-icon fa fa-file-medical"> </i><span>@form.form_name</span>
                                        <div class="ml-auto badge badge-pill badge-success">@form.created_at.ToString("dd MMM, yyyy hh:mm tt")</div>
                                    </a>
                                </li>
                                    }
                            </ul>



                        </div>
                    </div>
                </li>
                }



            </ul>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-12">
       
    </div>
</div>

@section scripts{
    <script src="~/js/partial_view.js"></script>
    @*<script src="~/lib/timeline/js/main.js"></script>*@
    <script>
    $(document).ready(function () {
        //load_partial();

        $("#div_family_intake").load('/FamilyIntake/PartialList?profile_id=@Model.id');
    });
    </script>
}


@section styles{
    <link href="~/css/table.css" type="text/css" rel="stylesheet" />
    <link href="~/css/button.css" type="text/css" rel="stylesheet" />
    <link href="~/lib/timeline/css/style.css" type="text/css" rel="stylesheet" />
    <style>
        .question {
            font-weight: bolder;
        }

        .answer {
            font-style: italic;
            color: #d92550 !important
        }

        .q_info {
            border-bottom: 1px #ccc solid
        }
    </style>
}