@using DAL.Models;
@using DAL.Utils;
@model mp_clinic
@{
    var clinic_clinicians = (IQueryable<mp_clinic_clinician>)ViewBag.clinicians;
}
<div class="row">
    <div class="col-md-12">
        <nav class="" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Clinics", "Clinic")">Clinics</a></li>
                <li class="active breadcrumb-item active" aria-current="page">@Model.name</li>
            </ol>

        </nav>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card mb-3">
            <div class="card-header">
                <div class="card-header-title">
                    Clinic Information
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Name</th>
                                <th>Lastname</th>
                                <th>Firstname</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Number of locations</th>
                                <th>Hours of operation</th>
                                <th>Diagnostics</th>
                                <th>Number of beds</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>@Options.GetLookupName(Model.clinic_type)</td>
                                <td>
                                    @Model.name
                                </td>
                                <td>@Model.last_name_c</td>
                                <td>@Model.first_name_c</td>
                                <td></td>
                                <td></td>
                                <td>@Model.number_of_locations</td>
                                <td>@Model.hours_of_operation</td>
                                <td>@Options.GetLookupName(Model.diagnostics_center)</td>
                                <td>@Model.number_of_beds</td>
                          
                                <td>
                                    <form method="post" action="@Url.Action("Update","Clinic")">

                                        <div class="input-group">
                                            @Html.DropDownList("status", new SelectList(Options.Getlookups("application_status"), "id", "value", Model.status), null, new { @class = "form-control-sm form-control", @required = "required" })
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-sm btn-success">Update</button>
                                            </div>
                                        </div>

                                        <input type="hidden" name="id" value="@Model.id">
                                    </form>
                                </td>
                                
                            </tr>

                        </tbody>

                    </table>
                </div>

            </div>
        </div>


        <div class="card mb-3">
            <div class="card-header">
                <div class="card-header-title">
                    Providers
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="table-responsive">
                        <table class="align-middle mb-0 table table-bordered table-striped">
                            <thead>
                                <tr class="tb-dark">
                                    @* <th>#</th> *@
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>Age (yrs)</th>
                                    <th>Area of specialty</th>
                                    <th>Years of experience</th>
                                    <th>Profile status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var clinic_Clinician in clinic_clinicians)
                                {
                                    var item = clinic_Clinician.clinician_;
                                    <tr>
                                        @* <td class="text-center text-muted">#</td> *@
                                        <td>
                                            <div class="widget-content p-0">
                                                <div class="widget-content-wrapper">
                                                    @*<div class="widget-content-left mr-3">
                                            <div class="widget-content-left">
                                                <img width="40" class="rounded-circle" src="@Url.Action("get_applicant_image","Applicant",new {applicant_id=item.id})" alt="">
                                            </div>
                                        </div>*@
                                                    <div class="widget-content-left flex2">
                                                        <div class="widget-heading"><a href="@Url.Action("Provider","Applicant",new { id = item.id })"> @string.Format("{0} {1}", item.last_name, item.first_name) </a></div>
                                                        @*<div class="widget-subheading opacity-7">@(item.gender == 1 ? "Male" : "Female"), @item.countryNavigation.name, @item.stateNavigation?.name</div>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>@item.phone</td>
                                        <td>@item.email</td>
                                        <td>
                                            @Options.GetLookupName(item.gender)
                                        </td>
                                        <td>
                                            @TimeUtil.CalculateAge(item.dob)
                                        </td>
                                        <td>
                                            @Options.GetLookupName(item.area_of_interest.Value)
                                        </td>
                                        <td>
                                            @item.years_of_experience
                                        </td>
                                        <td>
                                            @Options.GetLookupName(item.status)
                                        </td>
                                        <td>
                                            <a asp-action="Provider" asp-controller="Applicant" asp-route-id="@item.id" class="btn btn-primary btn-sm">Details</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>