@using  DAL.Models;
@using  DAL.Utils;
@model PaginatedList<mp_clinic>
@{
    ViewBag.Title = "Clinics pending approval";
}


<div class="row">
    <div class="col-md-12">
        <nav class="" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                <li class="active breadcrumb-item active" aria-current="page">Clinics pending approval</li>
            </ol>

        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="card-header bg-info text-white">
                <div class="card-header-title">
                    Clinics pending approval
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Name</th>
                                <th>Lastname</th>
                                <th>Firstname</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Number of locations</th>
                                <th>Hours of operation</th>
                                <th>Diagnostics</th>
                                <th>Number of beds</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var clinic in Model)
                            {
                                <tr>
                                    <td>@Options.GetLookupName(clinic.clinic_type)</td>
                                    <td>
                                        <a href="@Url.Action("Clinic","Clinic",new { id = clinic.id })">@clinic.name</a>
                                    </td>
                                    <td>@clinic.last_name_c</td>
                                    <td>@clinic.first_name_c</td>
                                    <td></td>
                                    <td></td>
                                    <td>@clinic.number_of_locations</td>
                                    <td>@clinic.hours_of_operation</td>
                                    <td>@Options.GetLookupName(clinic.diagnostics_center)</td>
                                    <td>@clinic.number_of_beds</td>
                                    <td>
                                        <form method="post" action="@Url.Action("Update","Clinic")">

                                            <div class="input-group">
                                                @Html.DropDownList("status", new SelectList(Options.Getlookups("application_status"), "id", "value", clinic.status), null, new { @class = "form-control-sm form-control", @required = "required" })
                                                <div class="input-group-append">
                                                    <button type="submit" class="btn btn-sm btn-success">Update</button>
                                                </div>
                                            </div>

                                            <input type="hidden" name="id" value="@clinic.id">
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>

            </div>
            <div class="card-footer">
                @{

                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }
                <div style="margin-left:auto;margin-right:auto;margin-top:10px">
                    <nav class="" aria-label="pagination">
                        <ul class="pagination pagination-sm">
                            <li class="page-item"><a href="@Url.Action("Clinicians","Profile",new {pageNumber=Model.PageIndex - 1,search=ViewBag.query})" class="page-link @prevDisabled" aria-label="Previous"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>

                            <li class="page-item"><a href="@Url.Action("Clinicians","Profile",new {pageNumber=Model.PageIndex + 1,search=ViewBag.query})" class="page-link @nextDisabled" aria-label="Next"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>



    </div>
</div>
