@using DAL.Models;
@using DAL.Utils;
@model IQueryable<mp_prescription>
@{
    ViewBag.Title = "My Prescriptions";
}


<div class="row" style="margin-top:-15px">
    <div class="col-md-8 offset-md-2">
        <nav class="" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("MyProfile","Profile")">Home</a></li>

                <li class="active breadcrumb-item" aria-current="page">My Prescriptions</li>

            </ol>

        </nav>
    </div>
</div>

<div class="row">
    <div class="col-md-8 offset-md-2">

        <div class="card">
            <div class="card-header text-info">
                <div class="card-header-title">
                    My Prescriptions
                </div>
                
            </div>
            <div class="card-body">

                @if (Model.Any())
                {
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    @if (User.IsInRole("clinician"))
                                    {
                                        <th>Member ID</th>
                                    }
                                    else
                                    {
                                        <th>Area of Interest</th>
                                    }

                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>No of drugs</th>
                                    <th>Pharmacy</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Any())
                                {
                                    foreach (var prescription in Model)
                                    {
                                        <tr>
                                            <td>
                                                <a href="@Url.Action("Detail","Prescription",new { id = prescription.id })"> @Options.GetLookupName(prescription.clinician_.area_of_interest.Value)</a>
                                            </td>
                                            <td>@string.Format("{0} {1}", prescription.clinician_.last_name, prescription.clinician_.first_name)</td>
                                            <td>@prescription.created_at</td>
                                            <td>@prescription.mp_prescription_drug.Count()</td>
                                            @if (prescription.pharmacy_id.HasValue)
                                            {
                                                <td>@Options.GetPharmacyName(prescription.pharmacy_id.Value)</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }

                                        </tr>

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <p>You have no prescriptions yet</p>
                }

            </div>
        </div>


    </div>
</div>
