@using DAL.Utils;
@{
    ViewBag.Title = "Register";
    Layout = "_Layout_web";
    var appointment_type = (int)ViewBag.appointment_type;
var appointment_category_sub=(int)ViewBag.appointment_category_sub;
}




    @section styles{

    <!-- CSS -->

    @*<link rel="stylesheet" href="~/front/bootstrap/css/bootstrap.min.css">*@
    <link rel="stylesheet" href="~/front/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/front/css/form-elements.css">
    <link rel="stylesheet" href="~/front/css/style.css">


    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/front/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/front/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/front/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/front/ico/apple-touch-icon-57-precomposed.png">
    <link href='https://fonts.googleapis.com/css?family=Tajawal' rel='stylesheet'>
    <style>
         #bg {
            /*font-family: 'Tajawal';*/
            background: url(../images/3.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
            overflow-x:hidden
        }

        button, input, select {
            font-family: 'Tajawal' !important;
        }

        select {
            height: 44px !important
        }

        input[type=date].form-control {
            height: 44px !important
        }

        .card-header {
            padding: .75rem 1.25rem;
            margin-bottom: 0;
            color: inherit;
            background-color: rgba(0, 0, 0, 0.7);
            border-bottom: 1px solid rgba(26,54,126,0.125);
        }

        .card-header, .card-title {
            text-transform: uppercase;
            color: white;
            font-weight: bold;
            font-size: .88rem;
        }

        .panel{
            /*background-color: rgba(0, 0, 0, 0.7);*/
         
        }
        .f1{
            background-color:transparent;
        }

        .control-label{
            /*color:white;*/
        }

        .bar{
            height:100%;
            color:aquamarine
        }

        #style-15::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
            background-color: #F5F5F5;
            border-radius: 10px;
        }

        #style-15::-webkit-scrollbar {
            width: 10px;
            background-color: #F5F5F5;
        }

        #style-15::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #FFF;
            background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#4D9C41), to(#19911D), color-stop(.6,#54DE5D))
        }

        .scrollbar {
            /*margin-left: 30px;*/
            /*float: left;*/
            height: 450px;
            /*background: #F5F5F5;*/
            overflow-y: scroll;
            /*margin-bottom: 25px;*/
            overflow-x:hidden;
        }

        .control-label{
            font-weight:bold;
            color:black
        }

    </style>

    <style>
  

/* CONTACTS */
.tab-content.tab-pane.contact-box {
  background-color: #ffffff;
  border: 1px solid #e7eaec;
  padding: 20px;
  margin-bottom: 20px;
}

.contact-box {
  background-color: #ffffff;
  border: 1px solid #e7eaec;
  padding: 20px;
  margin-bottom: 20px;
}
.contact-box > a {
  color: inherit;
}
.contact-box.center-version {
  border: 1px solid #e7eaec;
  padding: 0;
}
.contact-box.center-version > a {
  display: block;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}
/*.contact-box.center-version > div img {
  width: 150px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}*/
.contact-box.center-version address {
  margin-bottom: 0;
}
.contact-box .contact-box-footer {
  text-align: center;
  background-color: #ffffff;
  border-top: 1px solid #e7eaec;
  padding: 15px 20px;
}
a{
    text-decoration:none !important;    
}
.comment{
    color:steelblue
}
   

    </style>
  <style>
      /* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
      .container-bar {
          width: 90%; 
          background-color: #ddd;
          border-radius: 5px;
          line-height: 20px
      }

      .skills {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          padding-top: 10px; /* Add top padding */
          padding-bottom: 10px; /* Add bottom padding */
          color: white; /* White text color */
      }

.html {width: 90%; background-color: #4CAF50;} /* Green */
.css {width: 80%; background-color: #4CAF50;} /* Blue */
.js {width: 65%; background-color: #4CAF50;} /* Red */
.php {width: 60%; background-color: #4CAF50;} /* Dark Grey */
.chart_title{
    text-align:left !important;
    color:black;
    margin-bottom:0
}
  </style>
    <link href="~/assets/css/wizard.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
    }

<section class="page-title-area page-title-bg1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Help us match you to your right provider</h2>
                  
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-area ptb-100 ">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-lg-6 col-md-12 p-0">
                <div class="about-image">
                    <img src="~/web/img/about-img1.jpg" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12 p-0">
                <div class="about-content">

                    <div class="error-content" style="display:none">
                        <div class="text-center">
                            <img src="~/images/error.png" alt="error" style="height:200px">
                        </div>
                       

                        <h3>Can't continue</h3>
                        <p style="margin-bottom:50px; font-size:1.2rem; color:black">Sorry you are not eligible to become a member yet. You have to be 13 years and above to become a member</p>

                        <a href="~/" class="btn btn-primary">Go to Home <i class="flaticon-right-chevron"></i></a>
                    </div>

                    <p style="margin-bottom:50px; font-size:1.2rem; color:black" id="p_behavioral"> Please complete this questionnaire to help us match you to the right provider. The provider will use the information provided to better support you</p>

                    <form role="form" method="post" asp-controller="user" asp-action="registerclient" id="frm_register">
                        <input type="hidden" name="appointment_type" value="@appointment_type" />
                        <input type="hidden" name="appointment_category_id" value="@ViewBag.appointment_category" />
                        <input type="hidden" name="appointment_category_sub_id" value="@ViewBag.appointment_category_sub" />
                        <div class="card" id="div_behavioral">
                          

                            <div class="card-body f1" style="font-family: 'Rubik', sans-serif;">
                                @if (appointment_type == 1 && appointment_category_sub==1)
                                {
                                 <!--individual counseling-->
                                <partial name="_partial_individual_questionnaire" />

                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label">Do you want your child to receive counseling?</label>
                                        <select class="form-control" id="child_to_recieve_counseling">
                                            <option value="1">Yes (I want counseling for my child)</option>
                                            <option value="2">No (I only want parental advice)</option>
                                            <option value="3">Not sure yet (Decide later)</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <div class="f1-buttons">
                                            <button type="button" class="btn btn-previous">Previous</button>
                                            <button type="button" class="btn btn-next">Next</button>
                                        </div>
                                    </div>
                                </fieldset>

                                <partial name="_partial_child_questionnaire" />

                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label">Would you like your spouse/partner to join you in counseling?</label>
                                        <select class="form-control" id="couple_to_recieve_counseling">
                                            <option value="1">Yes (couples counseling)</option>
                                            <option value="2">No (individual counseling)</option>
                                            <option value="3">Not sure yet (Decide later)</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <div class="f1-buttons">
                                            <button type="button" class="btn btn-previous">Previous</button>
                                            <button type="button" class="btn btn-next">Next</button>
                                        </div>
                                    </div>
                                </fieldset>

                                <partial name="_partial_couple_questionnaire" />

                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label">Would you like other family members to join you in counseling?</label>
                                        <select class="form-control" id="family_to_recieve_counseling">
                                            <option value="1">Yes (family counseling)</option>
                                            <option value="2">No (individual counseling)</option>
                                            <option value="3">Not sure yet (Decide later)</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <div class="f1-buttons">
                                            <button type="button" class="btn btn-previous">Previous</button>
                                            <button type="button" class="btn btn-next">Next</button>
                                        </div>
                                    </div>
                                </fieldset>
                                }
                            else if (appointment_type == 1 && appointment_category_sub==2)
                            {
 <!--Couples counseling-->
                                <partial name="_partial_individual_questionnaire" />
                                <partial name="_partial_couple_questionnaire" />
                            }
                            else if (appointment_type == 1 && appointment_category_sub==3)
                            {
 <!--Child counseling-->
                                <partial name="_partial_individual_questionnaire" />
                                <partial name="_partial_child_questionnaire" />
                            }
                            else if (appointment_type == 1 && appointment_category_sub==4)
                            {
 <!--Family counseling-->
                                @*<partial name="_partial_family_questionnaire" />*@
                                <partial name="_partial_individual_questionnaire" />
                            }
                            else if (appointment_type ==2 || appointment_type==3)
                            {
                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label">What do you identify yourself as?</label>
                                        <select name="gender" class="form-control">
                                            @foreach(var lookup in Options.Getlookups("gender"))
                                            {
                                                <option value="@lookup.id">@lookup.value</option>
                                            }
                                        <option value="">I don’t have a preference</option>
                                        </select>

                                        @*@Html.DropDownList("gender", new SelectList(Options.Getlookups("gender"), "id", "value", null), null, new { @class = "form-control", @required = "required" })*@
                                    </div>
                                    <div class="form-group">
                                        <div class="f1-buttons">
                                            @*<button type="button" class="btn btn-previous">Previous</button>*@
                                            <button type="button" class="btn btn-next">Next</button>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label">What is your religion?</label>
                                        <select name="religion" class="form-control">
                                            @foreach (var lookup in Options.Getlookups("religion"))
                                            {
                                                <option value="@lookup.id">@lookup.value</option>
                                            }
                                            <option value="">I don’t have a preference</option>
                                        </select>
                                        @*@Html.DropDownList("religion", new SelectList(Options.Getlookups("religion"), "id", "value", null), null, new { @class = "form-control", @required = "required" })*@
                                    </div>
                                    <div class="form-group" id="div_religion_other" style="display:none">
                                        <label class="control-label">Please specifiy</label>
                                        <input type="text" name="religion_other" id="religion_other" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <div class="f1-buttons">
                                            <button type="button" class="btn btn-previous">Previous</button>
                                            <button type="button" class="btn btn-next">Next</button>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label">What tribe do you prefer to be identified as?</label>
                                        <select name="tribe" class="form-control">
                                            @foreach (var lookup in Options.Getlookups("tribe"))
                                            {
                                                <option value="@lookup.id">@lookup.value</option>
                                            }
                                            <option value="">I don’t have a preference</option>
                                        </select>
                                        @*@Html.DropDownList("tribe", new SelectList(Options.Getlookups("tribe"), "id", "value", null), null, new { @class = "form-control", @required = "required" })*@
                                    </div>
                                    <div class="form-group">
                                        <div class="f1-buttons">
                                            <button type="button" class="btn btn-previous">Previous</button>
                                            <button type="button" class="btn btn-next">Next</button>
                                        </div>
                                    </div>
                                </fieldset>
                                @*<fieldset>
                                    <div class="form-group">
                                        <label class="control-label">Each of the question does it matter?</label>
                                        @Html.DropDownList("questions_matter", new SelectList(Options.Getlookups("yesno"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
                                    </div> <div class="form-row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="f1-buttons">
                                                    <button type="button" class="btn btn-previous">Previous</button>
                                                    <button type="button" class="btn btn-next">Next</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>*@
                                @if (appointment_type == 2 || appointment_type==3)
                                        {
                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label">Please select your years of experience?</label>
                                        <select name="years_of_experience" class="form-control">
                                            @foreach (var lookup in Options.Getlookups("years_of_experience"))
                                            {
                                                <option value="@lookup.id">@lookup.value</option>
                                            }
                                            <option value="">I don’t have a preference</option>
                                        </select>
                                        @*@Html.DropDownList("years_of_experience", new SelectList(Options.Getlookups("years_of_experience"), "id", "value", null), null, new { @class = "form-control", @required = "required" })*@
                                    </div>
                                    <div class="form-group">
                                        <div class="f1-buttons">
                                            <button type="button" class="btn btn-previous">Previous</button>
                                            <button type="button" class="btn btn-next">Next</button>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label">Do you have a gender preference for your provider?</label>
                                        <select name="counselor_preference" class="form-control">
                                            @foreach (var lookup in Options.Getlookups("counselor_preference"))
                                            {
                                                <option value="@lookup.id">@lookup.value</option>
                                            }
                                            <option value="">I don’t have a preference</option>
                                        </select>
                                        @*@Html.DropDownList("counselor_preference", new SelectList(Options.Getlookups("counselor_preference"), "id", "value", null), null, new { @class = "form-control", @required = "required" })*@
                                    </div> <div class="form-row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="f1-buttons">
                                                    <button type="button" class="btn btn-previous">Previous</button>
                                                    <button type="button" class="btn btn-next">Next</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>


                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label">Do you want individual provider, clinic or hospital?</label>
                                        <select name="provider_type" class="form-control">
                                            @foreach (var lookup in Options.Getlookups("provider_type"))
                                            {
                                                <option value="@lookup.id">@lookup.value</option>
                                            }
                                            <option value="">I don’t have a preference</option>
                                        </select>
                                        @*@Html.DropDownList("provider_type", new SelectList(Options.Getlookups("provider_type"), "id", "value", null), null, new { @class = "form-control", @required = "required" })*@
                                    </div> <div class="form-row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="f1-buttons">
                                                    <button type="button" class="btn btn-previous">Previous</button>
                                                    <button type="button" class="btn btn-next">Next</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>
                            }
                                        }


                                <fieldset>
                                    @*<legend>Provider matching</legend>*@
                                    <div class="text-center" style="font-size:2rem; color:black">
                                        Questionnaire Completed.
                                    </div>
                                    <div class="form-group">
                                        <div class="f1-buttons">
                                            <button type="button" onclick="load_matching()" class="btn btn-sm btn-next">Next</button>
                                        </div>
                                    </div>
                                </fieldset>

                                @*<fieldset>
                                    <legend>Select a provider</legend>
                                    <div class="scrollbar" id="style-15">


                                        <div class="row" style="min-height:450px" id="div_clinicians">
                                            <div class="text-center">
                                                <span style="color:black">Matching you with providers, please wait ...</span>
                                                <img id="loader" src="~/assets/images/loaders/30.gif" style="height:20px" />
                                            </div>

                                        </div>

                                    </div>

                                </fieldset>*@


                                <fieldset>
                                    <legend><strong>Create your member account</strong></legend>

                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">Last name</label>
                                                <input maxlength="200" type="text" required="required" name="last_name" class="form-control" placeholder="Enter last name" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">Firstname</label>
                                                <input maxlength="200" type="text" required="required" name="first_name" class="form-control" placeholder="Enter first name" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">Phone</label>
                                                <input maxlength="200" type="text" required="required" name="phone" class="form-control" placeholder="Enter your phone number" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">Email</label>
                                                <input maxlength="200" type="text" required="required" id="email" name="email" onkeyup="update_username(this.value)" class="form-control" placeholder="Enter your email address" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">Preferred name</label>
                                                <input maxlength="200" type="text" required="required" name="preferred_name" class="form-control" placeholder="Enter your preferred name" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">Address</label>
                                                <input type="text" required="required" name="address" class="form-control" placeholder="Enter your address" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">City of residence</label>
                                                <input maxlength="200" type="text" required="required" name="city" class="form-control" placeholder="Enter your city " />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">State</label>
                                                @Html.DropDownList("state", new SelectList(Options.GetStates(), "id", "name", null), null, new { @class = "form-control", @required = "required" })
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="country" value="160" />
                                    <div class="form-row">

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">Date of birth</label>
                                                @*<input maxlength="200" type="date" required="required" name="dob" class="form-control" />*@
                                                <div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
                                                    <input class="form-control" type="text" readonly required="required" name="dob" />
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">Education level</label>
                                                @Html.DropDownList("education_level", new SelectList(Options.Getlookups("education_level"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
                                            </div>
                                        </div>




                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">Can you tell us more about yourself</label>
                                                <textarea class="form-control" name="about" required></textarea>
                                            </div>
                                        </div>


                                    </div>


                                    <div class="form-row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="f1-buttons">
                                                    <button type="button" class="btn btn-previous">Previous</button>
                                                    <button type="button" class="btn btn-next">Next</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>

                                <fieldset>
                                    <legend>Enter your account credentials</legend>

                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <input maxlength="200" type="email" required="required" name="username" id="username" class="form-control" placeholder="Enter your email" style="height:44px" autocomplete="anyrandomstring" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Password</label>
                                        <input maxlength="200" type="password" required="required" name="password" autocomplete="anyrandomstring" id="password" onkeyup="validatePassword(this.value);" class="form-control" />
                                        <span id="msg"></span>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Confirm Password</label>
                                        <input maxlength="200" type="password" required="required" id="confirm_password" autocomplete="anyrandomstring" class="form-control" onkeyup="compare_passwords()" />
                                        <span id="confirm_msg"></span>
                                    </div>
                                    <div class="form-group" id="div_spinner" style="display:none">
                                        <div class="text-center">
                                            <img id="loader" src="~/assets/images/loaders/30.gif" style="height:20px" />
                                            <h5>Creating account, please wait...</h5>
                                        </div>
                                    </div>
                                    <div class="form-group" id="div_button">
                                        <div class="f1-buttons">
                                            <button type="button" class="btn btn-previous">Previous</button>
                                            <button type="submit" class="btn btn-submit" disabled id="btn_submit">Submit</button>

                                        </div>
                                    </div>

                                </fieldset>




                            </div>
                         


                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>



@section scripts{
    <!-- Javascript -->
    <script src="~/front/js/jquery-1.11.1.min.js"></script>
    <script src="~/front/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/front/js/jquery.backstretch.min.js"></script>
    <script src="~/front/js/retina-1.1.0.min.js"></script>
    <script src="~/front/js/scripts.js"></script>
    <script src="~/assets/scripts/wizard.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <script src="~/js/password.js"></script>
    <script>
        $(document).ready(function () {

          $("#frm_register").submit(function (e) {
                
              e.preventDefault();

              $("#div_button").hide();
              $("#div_spinner").show();

                var form = $(this);
                var url = form.attr('action');

                $.ajax({
                    type: "POST",
                    url: url,
                    data: form.serialize(),
                    success: function (data) {
                        if (data == 200) {
                            //navigate to 
                             window.location.href = "/Identity/Account/Login";
                           
                        } else {
                            $("#div_spinner").hide();
                            $("#div_button").show();

                            alert("There was an error creating your account. Please ensure that the you use a strong password");
                        }
                       
                    }
                });


            });
        });
    </script>
    <script id="rendered-js">
        $(function () {
            $("#datepicker").datepicker({
                autoclose: true,
                todayHighlight: true
            });
            // datepicker('update', new Date());
        });

        function load_matching() {
            hide_info();
            $("#div_info").hide();
            var millisecondsToWait = 5000;
            setTimeout(function () {
                 $("#div_clinicians").load('/Clinician/MatchClinicians');
            }, millisecondsToWait);


        }

         $("#btn_submit").attr("disabled", "disabled");

        $('#religious').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            if (optionSelected.text() == "Yes") {
                $("#div_religion").show();
            } else {
                $("#div_religion").hide();
            }
        });

        function hide_info() {
            $("#p_behavioral").hide();
        }
        //eligible
        $('#eligible').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            if (optionSelected.text() == "Yes") {
                $("#div_behavioral").show();
                $("#p_behavioral").show();
                $(".error-content").hide();
            } else {
                $("#div_behavioral").hide();
                $("#p_behavioral").hide();
                 $(".error-content").show();
            }
        });

          $('#religion').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            if (optionSelected.text() == "Other") {
                $("#div_religion_other").show();
                $("#religion_other").attr("required","required");
               
            } else {
                $("#div_religion_other").hide();
                $("#religion_other").removeAttr("required");
                 $("#religion_other").val("");
            }
          });

        $('#relationship_status').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            if (optionSelected.text() == "Other") {
                $("#div_relationship_status_other").show();
                $("#relationship_status_other").attr("required", "required");

            } else {
                $("#div_relationship_status_other").hide();
                $("#relationship_status_other").removeAttr("required");
                $("#relationship_status_other").val("");
            }
        });

        $('#preferred_language').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            if (optionSelected.text() == "Other") {
                $("#div_preferred_language_other").show();
                $("#preferred_language_other").attr("required", "required");

            } else {
                $("#div_preferred_language_other").hide();
                $("#preferred_language_other").removeAttr("required");
                $("#preferred_language_other").val("");
            }
        });

         $('#appointment_category_sub').on('change', function (e) {
            var optionSelected = $("option:selected", this);
            if (optionSelected.text() == "Other") {
                $("#div_appointment_category_sub_other").show();
                $("#appointment_category_sub_other").attr("required", "required");

            } else {
                $("#div_appointment_category_sub_other").hide();
                $("#appointment_category_sub_other").removeAttr("required");
                $("#appointment_category_sub_other").val("");
            }
        });

        $('#child_to_recieve_counseling').on('change', function (e) {
             var valueSelected = this.value;
            if (valueSelected == 3 || valueSelected == 2) {
                $(".child").remove();
            }
        });


        $('#couple_to_recieve_counseling').on('change', function (e) {
             var valueSelected = this.value;
            if (valueSelected == 3 || valueSelected == 2) {
                $(".couple").remove();
            }
        });

        function update_username(email) {
            $("#username").val(email);
        }

         
    </script>
    <!--[if lt IE 10]>
        <script src="assets/js/placeholder.js"></script>
    <![endif]-->
    }








