@using DAL.Utils;
@{
}


<fieldset class="individual">

    <div class="form-group">
        <label class="control-label">What is your Gender?</label>
        @Html.DropDownList("gender", new SelectList(Options.Getlookups("gender"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
    </div>
    <div class="form-group">
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous" onclick="window.history.back();">Previous</button>
            <button type="button" class="btn btn-next">Next</button><br><br>
        </div>
    </div>

</fieldset>

<fieldset>
    <div class="form-group">
        <label class="control-label">Are you 18 years and older?</label>
        <select class="form-control" id="eligible">
            <option value="1">Yes</option>
            <option value="2">No</option>
        </select>
    </div>
    <div class="form-group">
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button><br><br>
        </div>
    </div>
</fieldset>
<fieldset>
    <div class="form-group">
        <label class="control-label">What is your age range?</label>
        @Html.DropDownList("age_range", new SelectList(Options.Getlookups("age_range"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
    </div>
    <div class="form-group">
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button><br><br>
        </div>
    </div>
</fieldset>
<fieldset>
    <div class="form-group">
        <label class="control-label">What is your preferred language?</label>
        @Html.DropDownList("preferred_language", new SelectList(Options.Getlookups("preferred_language"), "id", "value", null), null, new { @class = "form-control", @required = "required", id = "preferred_language" })
    </div>

    <div class="form-group" id="div_preferred_language_other" style="display:none">
        <label class="control-label">Please specifiy</label>
        <input type="text" name="preferred_language_other" id="preferred_language_other" class="form-control" />
    </div>
    <div class="form-group">
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button><br><br>
        </div>
    </div>
</fieldset>
<fieldset>
    <div class="form-group">
        <label class="control-label">What is your marital status?</label>
        @Html.DropDownList("marital_status", new SelectList(Options.Getlookups("marital_status"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
    </div>
    <div class="form-group">
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button><br><br>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="form-group">
        <label class="control-label">What tribe do you prefer to be identified as?</label>
        @Html.DropDownList("tribe", new SelectList(Options.Getlookups("tribe"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
    </div>
    <div class="form-group" id="div_tribe_other" style="display:none">
        <label class="control-label">Please specifiy</label>
        <input type="text" name="tribe_others" id="tribe_other" class="form-control" />
    </div>
    <div class="form-group">
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button><br><br>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="form-group">
        <label class="control-label">Religious Preference</label>
        @Html.DropDownList("religious", new SelectList(Options.Getlookups("yesno"), "id", "value", null), "Select..", new { @class = "form-control f1-religious", @required = "required", id = "religious" })
    </div>
    <div class="form-group" id="div_religion" style="display:none">
        <label class="control-label">What religion do you identify with? (Our counselors are from diverse backgrounds)</label>
        @Html.DropDownList("religion", new SelectList(Options.Getlookups("religion"), "id", "value", null), null, new { @class = "form-control", @required = "required", id = "religion" })
    </div>
    <div class="form-group" id="div_religion_other" style="display:none">
        <label class="control-label">Please specifiy</label>
        <input type="text" name="religion_other" id="religion_other" class="form-control" />
    </div>
    <div class="form-group">
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button><br><br>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="form-group">
        <label class="control-label">What led you to seek help today?</label>
        @Html.DropDownList("help_reason", new SelectList(Options.Getlookups("help_reason"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
    </div>
    <div class="form-group">
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button><br><br>
        </div>
    </div>
</fieldset>


<fieldset>
    <div class="form-group">
        <label class="control-label">Have you ever been in counseling or therapy before?</label>
        @Html.DropDownList("earlier_counseling", new SelectList(Options.Getlookups("yesno"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
    </div>
    <div class="form-group">
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button><br><br>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="form-group">
        <label class="control-label">How would you rate your current physical health?</label>
        @Html.DropDownList("physical_health", new SelectList(Options.Getlookups("rating"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
    </div>
    <div class="form-group">
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button><br><br>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="form-group">
        <label class="control-label">How would you rate your current eating habits?</label>
        @Html.DropDownList("eating_habit", new SelectList(Options.Getlookups("rating"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
    </div>
    <div class="form-group">
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button><br><br>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="form-group">
        <label class="control-label">How would you rate your current sleeping habit?</label>
        @Html.DropDownList("sleeping", new SelectList(Options.Getlookups("sleeping"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
    </div>
    <div class="form-group">
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button><br><br>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="form-group">
        <label class="control-label">Are you currently experiencing overwhelming sadness, grief, or depression?</label>
        @Html.DropDownList("depression", new SelectList(Options.Getlookups("yesno"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
    </div>
    <div class="form-group">
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button><br><br>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="form-group">
        <p class="comment">Over the last 2 weeks, how often have you been bothered by any of the following problems?</p>
        <label class="control-label">Little interest or pleasure in doing things</label>
        @Html.DropDownList("reduced_interest", new SelectList(Options.Getlookups("rating_days"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
    </div>
    <div class="form-group">
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button><br><br>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="form-group">
        <p class="comment">Over the last 2 weeks, how often have you been bothered by any of the following problems?</p>
        <label class="control-label">Feeling down, depressed, or hopeless</label>
        @Html.DropDownList("recent_depression", new SelectList(Options.Getlookups("rating_days"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
    </div>
    <div class="form-group">
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button><br><br>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="form-group">
        <p class="comment">Over the last 2 weeks, how often have you been bothered by any of the following problems?</p>
        <label class="control-label">Having anger outbursts, yelling and screaming or being violent towards others</label>
        @Html.DropDownList("anger_burst", new SelectList(Options.Getlookups("rating_days"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
    </div>
    <div class="form-group">
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button><br><br>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="form-group">
        <p class="comment">Over the last 2 weeks, how often have you been bothered by any of the following problems?</p>
        <label class="control-label">Trouble falling or staying asleep, or sleeping too much</label>
        @Html.DropDownList("sleeping_trouble", new SelectList(Options.Getlookups("rating_days"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
    </div>
    <div class="form-group">
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button><br><br>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="form-group">
        <p class="comment">Over the last 2 weeks, how often have you been bothered by any of the following problems?</p>
        <label class="control-label">Feeling tired or having little energy</label>
        @Html.DropDownList("tiredness", new SelectList(Options.Getlookups("rating_days"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
    </div>
    <div class="form-group">
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button><br><br>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="form-group">
        <p class="comment">Over the last 2 weeks, how often have you been bothered by any of the following problems?</p>
        <label class="control-label">Poor appetite or overeating </label>
        @Html.DropDownList("appetite", new SelectList(Options.Getlookups("rating_days"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
    </div>
    <div class="form-group">
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button><br><br>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="form-group">
        <p class="comment">Over the last 2 weeks, how often have you been bothered by any of the following problems?</p>
        <label class="control-label">Feeling bad about yourself — or that you are a failure or have let yourself or your family down</label>
        @Html.DropDownList("feeling_bad", new SelectList(Options.Getlookups("rating_days"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
    </div>
    <div class="form-group">
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button><br><br>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="form-group">
        <p class="comment">Over the last 2 weeks, how often have you been bothered by any of the following problems?</p>
        <label class="control-label">Trouble concentrating on things, such as reading the newspaper or watching television</label>
        @Html.DropDownList("concentration_issue", new SelectList(Options.Getlookups("rating_days"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
    </div>
    <div class="form-group">
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button><br><br>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="form-group">
        <p class="comment">Over the last 2 weeks, how often have you been bothered by any of the following problems?</p>
        <label class="control-label">Moving or speaking so slowly that other people could have noticed?  Or the opposite — being so fidgety or restless that you have been moving around a lot more than usual</label>
        @Html.DropDownList("fidgety", new SelectList(Options.Getlookups("rating_days"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
    </div>
    <div class="form-group">
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button><br><br>
        </div>
    </div>
</fieldset>


<fieldset>
    <div class="form-group">
        <p class="comment">Over the last 2 weeks, how often have you been bothered by any of the following problems?</p>
        <label class="control-label">Thoughts that you would be better off dead or of hurting yourself in some way </label>
        @Html.DropDownList("suicidal", new SelectList(Options.Getlookups("rating_days"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
    </div>
    <div class="form-group">
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button><br><br>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="form-group">
        <label class="control-label">Are you currently experiencing anxiety, panic attacks or phobias?</label>
        @Html.DropDownList("anxiety", new SelectList(Options.Getlookups("yesno"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
    </div>
    <div class="form-group">
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button><br><br>
        </div>
    </div>
    </fieldset>
    <fieldset>
        <div class="form-group">
            <label class="control-label">Why does today feel like the right time to begin counseling?</label>
            @Html.DropDownList("today_feeling", new SelectList(Options.Getlookups("today_feeling"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
        </div>
        <div class="form-group">
            <div class="f1-buttons">
                <button type="button" class="btn btn-previous">Previous</button>
                <button type="button" class="btn btn-next">Next</button><br><br>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <div class="form-group">
            <label class="control-label">Are you currently employed? </label>
            @Html.DropDownList("employed", new SelectList(Options.Getlookups("employed"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
        </div>
        <div class="form-group">
            <div class="f1-buttons">
                <button type="button" class="btn btn-previous">Previous</button>
                <button type="button" class="btn btn-next">Next</button><br><br>
            </div>
        </div>
    </fieldset>




<fieldset>
    <div class="form-group">
        <label class="control-label">How often do you drink alcohol?</label>
        @Html.DropDownList("alcohol", new SelectList(Options.Getlookups("alcohol"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
    </div>
    <div class="form-group">
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button><br><br>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="form-group">
        <label class="control-label">How often do you use drugs (cocaine, heroin, marijuana etc.)?</label>
        @Html.DropDownList("drug_use", new SelectList(Options.Getlookups("drug_use"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
    </div>
    <div class="form-group">
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button><br><br>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="form-group">
        <label class="control-label">Do you have a gender preference for your provider?</label>
        @Html.DropDownList("counselor_preference", new SelectList(Options.Getlookups("counselor_preference"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
    </div>
    <div class="form-group">
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button><br><br>
        </div>
    </div>
</fieldset>


@*<fieldset>
    <div class="form-group">
        <label class="control-label">Why does today feel like the right time to begin counseling?</label>
        @Html.DropDownList("counselor_preference", new SelectList(Options.Getlookups("counselor_preference"), "id", "value", null), null, new { @class = "form-control", @required = "required" })
    </div>
    <div class="form-group">
        <div class="f1-buttons">
            <button type="button" class="btn btn-previous">Previous</button>
            <button type="button" class="btn btn-next">Next</button><br><br>
        </div>
    </div>
</fieldset>*@

