@model DAL.Models.mp_clinician
@using DAL.Utils;
@{
    ViewData["Title"] = "Edit";
    var expertises = Options.GetExpertises();
    var population_groups = Options.GetPopulations();
    var specialties = Options.GetSpecialties();
    var provider_type = Model.provider_type;
    int appointment_category = Model.mp_clinician_category.FirstOrDefault().appointment_category;
}


<div class="row" style="margin-top:-15px">
    <div class="col-md-8 offset-md-2">
        <nav class="" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/">Home</a></li>
                @*<li class="breadcrumb-item"><a href="@Url.Action("ProfileInfo","Profile")">Profile</a></li>*@
                <li class="active breadcrumb-item" aria-current="page">Edit</li>

            </ol>

        </nav>
    </div>
</div>


<div class="row">
    <div class="col-md-8 offset-md-2">

        <div class="card mb-3">
            <div class="card-header text-info">
                <div class="card-header-title">Edit My Profile</div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Edit" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="id" />
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Last name</label>
                                        <input asp-for="last_name" class="form-control" required />
                                        <span asp-validation-for="last_name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">First name</label>
                                        <input asp-for="first_name" class="form-control" required />
                                        <span asp-validation-for="first_name" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Phone number</label>
                                        <input asp-for="phone" class="form-control" />
                                        <span asp-validation-for="phone" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <input asp-for="email" class="form-control" />
                                        <span asp-validation-for="email" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Preferred name</label>
                                        <input asp-for="preferred_name" class="form-control" />
                                        <span asp-validation-for="preferred_name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Date of birth</label>


                                        <div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
                                            <input class="form-control" type="text" readonly required="required" name="dob" value="@Model.dob.ToString("MM-dd-yyyy")" />
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                        @* <input asp-for="dob" class="form-control" />*@
                                        <span asp-validation-for="dob" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label lass="control-label">Address</label>
                                <textarea asp-for="address" class="form-control"></textarea>
                                <span asp-validation-for="address" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label">City</label>
                                <input asp-for="city" class="form-control" />
                                <span asp-validation-for="city" class="text-danger"></span>
                            </div>



                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">State</label>
                                        @*<input asp-for="state" class="form-control" />*@
                                        @Html.DropDownList("state", new SelectList(Options.GetStates(), "id", "name", Model.country), null, new { @class = "form-control", @required = "required" })
                                        <span asp-validation-for="state" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Country</label>
                                        @*<input asp-for="country" class="form-control" />*@
                                        @Html.DropDownList("country", new SelectList(Options.GetCountries(), "id", "name", Model.country), null, new { @class = "form-control", @required = "required" })
                                        <span asp-validation-for="country" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>




                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Marital status</label>
                                        @Html.DropDownList("marital_status", new SelectList(Options.Getlookups("marital_status"), "id", "value", Model.marital_status), null, new { @class = "form-control", @required = "required" })

                                        <span asp-validation-for="marital_status" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Education level</label>
                                        @Html.DropDownList("education_level", new SelectList(Options.Getlookups("education_level"), "id", "value", Model.education_level), null, new { @class = "form-control", @required = "required" })

                                        <span asp-validation-for="education_level" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="position-relative form-group">
                                    <label class="control-label">Languages Spoken<span class="required">*</span></label>
                                    @*@Html.DropDownList("language_spoken", new SelectList(Options.Getlookups("preferred_language"), "id", "value", null), null, new { @class = "form-control", @required = "required" })*@

                                    <div class="row">
                                        @foreach (var language in Options.Getlookups("preferred_language"))
                                        {
                                            <div class="col-md-2">
                                                <div class="custom-checkbox custom-control custom-control-inline">
                                                    @if (Model.mp_clinician_language.Any(x => x.language == language.id))
                                                    {
                                                        <input type="checkbox" id="language_checkbox_@language.id" name="language_spoken" value="@language.id" class="custom-control-input" checked>
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" id="language_checkbox_@language.id" name="language_spoken" value="@language.id" class="custom-control-input">
                                                    }
                                                    <label class="custom-control-label" for="language_checkbox_@language.id">
                                                        @language.value
                                                    </label>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="position-relative form-group" style="display:none" id="div_language_other">
                                    <label class="control-label">Others specifiy</label>
                                    <input name="language_other" id="language_other" class="form-control" required>

                                </div>

                            </div>


                            <div class="position-relative form-group">
                                <label class="control-label">Can you tells us more aboout yourself<span class="required">*</span></label>
                                <textarea name="about" class="form-control" asp-for="about" rows="4" placeholder=""></textarea>
                            </div>


                            <fieldset>
                                <legend>Emergency contact</legend>

                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="position-relative form-group">
                                            <label class="control-label">Name of contact<span class="required">*</span></label>
                                            <input name="contact_name" asp-for="contact_name" class="form-control" required>

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="position-relative form-group">
                                            <label class="control-label">Phone number of contact<span class="required">*</span></label>
                                            <input name="contact_phone" asp-for="contact_phone" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="position-relative form-group">
                                            <label class="control-label">Email of contact</label>
                                            <input name="contact_email" asp-for="contact_email" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>



                            <div class="form-group">
                                <label class="control-label">Profile picture</label>
                                <input type="file" name="profile_img">
                            </div>


                            <div class="form-group" style="display:none">
                                <label class="control-label">Select your expertise from the list below (check all that apply)</label>
                                <div>
                                    <div class="row">

                                        @if (expertises.Any())
                                        {
                                            foreach (var expertise in expertises)
                                            {
                                                <div class="col-md-4">
                                                    <div class="custom-checkbox custom-control custom-control-inline">
                                                        <input type="checkbox" id="exampleCustomCheckbox_@expertise.id" name="expertise" value="@expertise.id" class="custom-control-input"><label class="custom-control-label" for="exampleCustomCheckbox_@expertise.id">
                                                            @expertise.name
                                                        </label>
                                                    </div>
                                                </div>
                                            }
                                        }

                                    </div>

                                </div>
                            </div>

                            <div class="form-group" style="display:none">
                                <label class="control-label">Select the age group that you work with (check all that apply)</label>
                                <div>

                                    @if (expertises.Any())
                                    {
                                        foreach (var population in population_groups)
                                        {
                                            <div class="custom-checkbox custom-control custom-control-inline">
                                                <input type="checkbox" id="CustomCheckbox_@population.id" name="population" value="@population.id" class="custom-control-input"><label class="custom-control-label" for="CustomCheckbox_@population.id">
                                                    @population.name
                                                </label>
                                            </div>
                                        }
                                    }



                                </div>
                            </div>


                            <div class="form-group" style="display:none">
                                <label class="control-label">Select your specialties (check all that apply)</label>
                                <div>
                                    <div class="row">

                                        @if (expertises.Any())
                                        {
                                            foreach (var specialty in specialties)
                                            {
                                                <div class="col-md-4">
                                                    <div class="custom-checkbox custom-control custom-control-inline">
                                                        <input type="checkbox" id="specialtyCustomCheckbox_@specialty.id" name="specialty" value="@specialty.id" class="custom-control-input"><label class="custom-control-label" for="specialtyCustomCheckbox_@specialty.id">
                                                            @specialty.name
                                                        </label>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>




                                </div>
                            </div>




                            <div class="position-relative form-group">
                                <label class="control-label">Education</label>
                                <table class="table table-condensed" id="tb_education">
                                    <thead>
                                        <tr>
                                            <th>Name of school</th>
                                            <th>Address</th>
                                            <th>Degree</th>
                                            <th><button class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Click to add more" type="button" onclick="add_row('tb_education')">Add <i class="fa fa-plus"></i></button></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.mp_clinician_education.Count > 0)
                                        {
                                            foreach (var item in Model.mp_clinician_education)
                                            {
                                                <tr>
                                                    <td>
                                                        <input type="text" name="name_of_school" value="@item.school" class="form-control  form-control-sm" />
                                                    </td>

                                                    <td>
                                                        <input type="text" name="address_of_school" value="@item.address" class="form-control form-control-sm" />
                                                    </td>
                                                    <td>
                                                        <input type="text" name="certification" value="@item.certification" class="form-control form-control-sm" />
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-sm btn-circle btn-danger" type="button" onclick="delete_row(this,'tb_education')"><i class="fa fa-trash"></i></button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>
                                                    <input type="text" name="name_of_school" class="form-control  form-control-sm" />
                                                </td>

                                                <td>
                                                    <input type="text" name="address_of_school" class="form-control form-control-sm" />
                                                </td>
                                                <td>
                                                    <input type="text" name="certification" class="form-control form-control-sm" />
                                                </td>
                                                <td>
                                                    <button class="btn btn-sm btn-circle btn-danger" type="button" onclick="delete_row(this,'tb_education')"><i class="fa fa-trash"></i></button>
                                                </td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>

                            @if (appointment_category == 2 || appointment_category == 4 || appointment_category == 10)
                            {
                                <div class="position-relative form-group">
                                    <label class="control-label">Practice in the last 10 years</label>
                                    <table class="table table-condensed" id="tb_practice">
                                        <thead>
                                            <tr>
                                                <th>Hospital</th>
                                                <th>City</th>
                                                <th>Primary Roles</th>
                                                <th>Duration</th>
                                                <th><button class="btn btn-sm btn-circle btn-success" type="button" onclick="add_row('tb_practice')">Add <i class="fa fa-plus"></i></button></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.mp_clinician_practice.Count > 0)
                                            {
                                                foreach (var item in Model.mp_clinician_practice)
                                                {
                                                    <tr>
                                                        <td>
                                                            <input type="text" name="practice_hospital" value="@item.hospital" class="form-control  form-control-sm" />
                                                        </td>
                                                        <td>
                                                            <input type="text" name="practice_city" value="@item.city" class="form-control form-control-sm" />
                                                        </td>
                                                        <td>
                                                            <input type="text" name="practice_role" value="@item.role" class="form-control form-control-sm" />
                                                        </td>
                                                        <td>
                                                            <input type="text" name="practice_duration" value="@item.duration" class="form-control form-control-sm" />
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-sm btn-circle btn-danger" type="button" onclick="delete_row(this,'tb_practice')"><i class="fa fa-trash"></i></button>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td>
                                                        <input type="text" name="practice_hospital" class="form-control  form-control-sm" />
                                                    </td>

                                                    <td>
                                                        <input type="text" name="practice_city" class="form-control form-control-sm" />
                                                    </td>
                                                    <td>
                                                        <input type="text" name="practice_role" class="form-control form-control-sm" />
                                                    </td>
                                                    <td>
                                                        <input type="text" name="practice_duration" class="form-control form-control-sm" />
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-sm btn-circle btn-danger" type="button" onclick="delete_row(this,'tb_practice')"><i class="fa fa-trash"></i></button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }



                            <div class="position-relative form-group">
                                <label class="control-label">Outstanding Professional Work</label>
                                <table class="table table-condensed" id="tb_activity">
                                    <thead>
                                        <tr>
                                            <th style="width:90%">Activity</th>

                                            <th><button class="btn btn-sm btn-circle btn-success" type="button" onclick="add_row('tb_activity')">Add <i class="fa fa-plus"></i></button></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.mp_clinician_other_activities.Count(x => x.activity_type == "activity_outstanding_work") > 0)
                                        {
                                            foreach (var item in Model.mp_clinician_other_activities.Where(x => x.activity_type == "activity_outstanding_work"))
                                            {
                                                <tr>
                                                    <td>
                                                        <input type="text" name="activity_outstanding_work" value="@item.activity" class="form-control  form-control-sm" />
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-sm btn-circle btn-danger" type="button" onclick="delete_row(this,'tb_activity')">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>
                                                    <input type="text" name="activity_outstanding_work" class="form-control  form-control-sm" />
                                                </td>
                                                <td>
                                                    <button class="btn btn-sm btn-circle btn-danger" type="button" onclick="delete_row(this,'tb_activity')"><i class="fa fa-trash"></i></button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                            <div class="position-relative form-group">
                                <label class="control-label">Scholarly Activities</label>
                                <table class="table table-condensed" id="tb_scholarly_activity">
                                    <thead>
                                        <tr>
                                            <th style="width:90%">Activity <span style="font-weight:100">(Publications/Books/Abstracts)</span></th>

                                            <th><button class="btn btn-sm btn-circle btn-success" type="button" onclick="add_row('tb_scholarly_activity')">Add <i class="fa fa-plus"></i></button></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.mp_clinician_other_activities.Count(x => x.activity_type == "activity_scholary") > 0)
                                        {
                                            foreach (var item in Model.mp_clinician_other_activities.Where(x => x.activity_type == "activity_scholary"))
                                            {
                                                <tr>
                                                    <td>
                                                        <input type="text" name="activity_scholary" value="@item.activity" class="form-control form-control-sm" />
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-sm btn-circle btn-danger" type="button" onclick="delete_row(this,'tb_scholarly_activity')"><i class="fa fa-trash"></i></button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>
                                                    <input type="text" name="activity_scholary" class="form-control  form-control-sm" />
                                                </td>
                                                <td>
                                                    <button class="btn btn-sm btn-circle btn-danger" type="button" onclick="delete_row(this,'tb_scholarly_activity')"><i class="fa fa-trash"></i></button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                            <div class="position-relative form-group">
                                <label class="control-label">Community Contributions</label>
                                <table class="table table-condensed" id="tb_community_activity">
                                    <thead>
                                        <tr>
                                            <th style="width:90%">Activity <span style="font-weight:100">(Societies/Clubs)</span></th>

                                            <th><button class="btn btn-sm btn-circle btn-success" type="button" onclick="add_row('tb_community_activity')">Add <i class="fa fa-plus"></i></button></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.mp_clinician_other_activities.Count(x => x.activity_type == "activity_social") > 0)
                                        {
                                            foreach (var item in Model.mp_clinician_other_activities.Where(x => x.activity_type == "activity_social"))
                                            {
                                                <tr>
                                                    <td>
                                                        <input type="text" name="activity_social" value="@item.activity" class="form-control  form-control-sm" />
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-sm btn-circle btn-danger" type="button" onclick="delete_row(this,'tb_community_activity')"><i class="fa fa-trash"></i></button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td>
                                                    <input type="text" name="activity_social" class="form-control  form-control-sm" />
                                                </td>
                                                <td>
                                                    <button class="btn btn-sm btn-circle btn-danger" type="button" onclick="delete_row(this,'tb_community_activity')"><i class="fa fa-trash"></i></button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                            <div class="position-relative form-group">
                                <label class="control-label">Upload relevant documents</label>
                                <table class="table table-condensed" id="tb">
                                    <tbody>
                                        <tr>
                                            <td>Resume/CV</td>

                                            <td>
                                                <input type="file" name="resume" accept="application/msword,application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                                                <input type="hidden" name="Resume_doc_type" value="8" />
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Certificate</td>
                                            <td>
                                                <input type="file" name="certificate" accept="application/msword,application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                                                <input type="hidden" name="Certificate_doc_type" value="9" />
                                            </td>
                                            <td></td>
                                        </tr>
                                        @*<tr>
                                                <td colspan="2">
                                                    Others
                                                </td>
                                                <td>
                                                    <button class="btn btn-sm btn-circle btn-success" type="button" onclick="add_row_doc('tb')"><i class="fa fa-plus"></i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @Html.DropDownList("doc_type", new SelectList(Options.Getlookups("applicant_doc"), "id", "value", null), null, new { @class = "form-control-sm form-control" })

                                                </td>
                                                <td> <input type="file" name="certificate" accept="application/msword,application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document" /></td>
                                                <td><button class="btn btn-sm btn-circle btn-danger" type="button" onclick="delete_row_doc(this,'tb')"><i class="fa fa-trash"></i></button></td>
                                            </tr>*@
                                    </tbody>
                                </table>
                            </div>

                            <div class="form-group" style="display:none">
                                <label asp-for="user_id" class="control-label"></label>
                                <input asp-for="user_id" class="form-control" />
                                <span asp-validation-for="user_id" class="text-danger"></span>
                            </div>


                            <div class="form-group" style="display:none">
                                <label asp-for="status" class="control-label"></label>
                                <input asp-for="status" class="form-control" />
                                <span asp-validation-for="status" class="text-danger"></span>
                            </div>

                            <div class="form-group" style="display:none">
                                <label asp-for="created_at" class="control-label"></label>
                                <input asp-for="created_at" class="form-control" />
                                <span asp-validation-for="created_at" class="text-danger"></span>
                            </div>
                            <div class="form-group" style="display:none">
                                <label asp-for="updated_at" class="control-label"></label>
                                <input asp-for="updated_at" class="form-control" />
                                <span asp-validation-for="updated_at" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Update profile" class="btn btn-success" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <script src="~/js/fn_table.js"></script>
    <script id="rendered-js">
        $(function () {
            $("#datepicker").datepicker({
                autoclose: true,
                todayHighlight: true
            });
            // datepicker('update', new Date());
        });

        $(document).on('change', ':file', function () {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        $('#language_checkbox_242').click(function () {
            if (this.checked == true) {
                $("#div_language_other").show();
                $("#language_other").attr("required", "required");
            } else {
                $("#div_language_other").hide();
                $("#language_other").removeAttr("required");
                $("#language_other").val("");
            }
        });

        function cloneDiv() {
            var myDiv = document.getElementById("certificate_part");
            var divClone = myDiv.cloneNode(true);
            document.getElementById("upload_container").appendChild(divClone);
        }
        function removeDiv(thisDiv) {
            thisDiv.parentNode.remove();
        }
        function add_row_doc(tb) {
            var $tableBody = $('#' + tb).find("tbody"),
                $trLast = $tableBody.find("tr:last"),
                $trNew = $trLast.clone();

            var row_count = $trLast.index() + 1;
            $trNew.find('input,select').each(function () {
                var name = this.name;
                this.name = name.substring(0, name.length - 1) + (row_count + 1);


                var id = this.id;
                this.id = id.substring(0, name.length - 1) + (row_count + 1);

            });

            //reset the project selection
            $trNew.find('select').each(function () {

                this.selectedIndex = 0;

            });



            $trNew.find('input').each(function () {

                $(this).val("");
                $(this).attr("disabled", "disabled");
            });

            $trLast.after($trNew);


        }
        function delete_row_doc(row, tb) {
            var rows = $("#" + tb + " tbody tr").length;
            if (rows > 4) {
                $(row).parent().parent().remove();
            } else {
                clear_row(row);
            }
        }
        function clear_row(row) {
            $(row).parent().parent().find("input").each(function () {
                $(this).val("");
            });
        }
    </script>
}


@section styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
    <style>
        .control-label {
            font-weight: bold
        }
    </style>

}


