@using DAL.Utils;
@using DAL.Models;
@model PaginatedList<mp_appointment>
@{
    ViewData["Title"] = "Session By Clients";
}

<div class="row" style="margin-top:-15px">
    <div class="col-lg-10">
        <nav class="" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/">Home</a></li>
                <li class="active breadcrumb-item" aria-current="page">Session By Clients</li>
            </ol>
        </nav>
    </div>
    <div class="col-lg-2">
        @if (User.IsInRole("admin") || User.IsInRole("super_admin"))
        {
            @await Html.PartialAsync("../Shared/_quick_nav")
        }
    </div>
</div>

<div class="row">


    <div class="col-md-12">
        <div class="main-card  card">

            <div class="card-body">
                <div class="table-responsive">

                    @if (Model.Any())
                    {

                        <table class="align-middle mb-0 table table-borderless table-striped table-hover custom-ui-table">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Appointment type</th>
                                    <th>Status</th>
                                    <th>Category</th>
                                    <th>Activity</th>
                                    <th>Service subscribed</th>
                                    <th>Provider</th>
                                    <th>Date booked</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var appointment in Model)
                                {
                                    <tr data-toggle="collapse" data-target="#demo_@appointment.id" class="accordion-toggle" onclick="get_appointment_forms('@appointment.id')">
                                        <td>@appointment.start_date.ToString("dd MMM, yyyy hh:mm tt")</td>
                                        <td>@appointment.appointment_typeNavigation.name</td>
                                        <td>@Options.GetLookupName(appointment.status)</td>
                                        <td>@Options.GetAppointmentActivityName(appointment.appointment_activity_id)</td>
                                        <td>@Options.GetAppointmentSubActivityName(appointment.appointment_activity_sub_id)</td>
                                        <td>@appointment.appointment_serviceNavigation.name</td>
                                        <td>@string.Format("{0} {1}", appointment.clinician_.last_name, appointment.clinician_.first_name)</td>
                                        <td>@appointment.created_at.ToString("dd MMM, yyyy hh:mm tt")</td>
                                        @if (appointment.mp_credit.Any())
                                        {
                                            <td>@appointment.mp_credit.FirstOrDefault(x => x.appointment_id == appointment.id).amount</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }

                                    </tr>

                                }

                            </tbody>


                        </table>

                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";

                        <div style="margin-top:10px" class="pull-right">
                            <nav class="" aria-label="pagination">
                                <ul class="pagination pagination-sm">
                                    <li class="page-item"><a href="@Url.Action("SessionsByClient","Reports",new {pageNumber=Model.PageIndex - 1,client_id=Model.FirstOrDefault().id})" class="page-link @prevDisabled" aria-label="Previous"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>

                                    <li class="page-item"><a href="@Url.Action("SessionsByClient","Reports",new {pageNumber=Model.PageIndex + 1,client_id=Model.FirstOrDefault().id})" class="page-link @nextDisabled" aria-label="Next"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    }


                </div>

            </div>
        </div>

    </div>


</div>

@section styles{
    <link href="~/css/table.css" type="text/css" rel="stylesheet" />
    <style>
        a.disabled {
            pointer-events: none;
            cursor: default;
        }
    </style>

}


